{erl_opts, [debug_info]}.
{deps, [
	{jiffy, ".*", {git, "https://github.com/davisp/jiffy", {tag, "0.15.2"}}},
{websocket_client, ".*", {git, "https://github.com/jeremyong/websocket_client.git", {branch, master}}}
]}.


{relx, [{release, { phoenix_client_erl, "0.0.1" },
         [phoenix_client_erl, sasl, inets]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
}.